COMPOSE_PROJECT_NAME=japanopen-ssl

SSL_GAME_CONTROLLER_TAG=3.20.3
SSL_VISION_CLIENT_TAG=2.1.0
SSL_STATUS_BOARD_TAG=2.18.0
SSL_REMOTE_CONTROL_TAG=1.4.3
SSL_AUTO_RECORDER_TAG=1.11.0
TIGERS_AUTOREF_TAG=1.7.1-12-g39cac863
ERFORCE_AUTOREF_TAG=2025.1.0

AUDIOREF_REF=27e893fc8f06801c91a49f6a03e0b6ceafd6a07f

REFEREE_ADDRESS=224.5.23.1
REFEREE_PORT=10003
VISION_ADDRESS=224.5.23.2
VISION_PORT=10006
TRACKER_ADDRESS=224.5.23.2
TRACKER_PORT=10010

GC_UI_PORT=8081
VISION_CLIENT_UI_PORT=8082
STATUS_BOARD_UI_PORT=8083
REMOTE_CONTROL_YELLOW_UI_PORT=8084
REMOTE_CONTROL_BLUE_UI_PORT=8085

AUDIOREF_PACK_DIR=/opt/audioref/sounds/en
AUDIOREF_MAX_QUEUE_LEN=3
AUDIOREF_ANTI_STANDBY_SOUND=false
